* { box-sizing: border-box; }
:root{ --modpack-color: 255, 0, 43; --modpack-color-text: #fff; }
html {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
:link, :visited {
  color: rgb(var(--modpack-color));
  font-weight: bold;
  text-decoration: none;
}
:link:hover, :visited:hover {
  text-decoration: underline;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  padding: 8px;
  backdrop-filter: blur(4px);
  background-color: rgba(var(--modpack-color), 0.75);
}
header.nobg {
  backdrop-filter: none;
  background: none;
}
#logo_font {
  display: block;
  color: var(--modpack-color-text);
  text-decoration: none;
  line-height: 1;
}
#logo_font>svg {
  display: block;
  fill: currentColor;
  height: 24px;
}
#logo_font:hover {
  color: rgb(var(--modpack-color));
}
.logo-color-fade#logo_font {
  transition: color 1s ease-in-out;
}
#hero {
  text-align: center;
  margin: 32px 0 96px;
  position: relative;
}
#hero>svg {
  fill: currentColor;
  height: 96px;
}
#modpacks {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}
#modpacks>.modpack:first-child {
  flex-basis: 100%; 
}
.modpack {
  --size: 128px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  text-decoration: none;
  transition: transform 0.4s cubic-bezier(0,.34,.15,1);
  height: var(--size);
  width: var(--size);
}
.modpack:hover,
.modpack:focus {
  transform: scale(1.25);
  outline: none;
}
.modpack-unavailable {
  opacity: 0.25;
  cursor: default;
}
#modpack_classic { background-image: url("/img/Classic.svg"); }
#modpack_arcane { background-image: url("/img/Arcane.svg"); }
#modpack_fallout { background-image: url("/img/Fallout.svg"); }
#modpack_industry { background-image: url("/img/Industry.svg"); }
#modpack_journey { background-image: url("/img/Journey.svg"); }
#mp_main_logo {
  height: 100vh;
  display: flex;
  background: rgb(var(--modpack-color));
  color: var(--modpack-color-text);
  position: relative;
}
#mp_main_logo>svg {
  width: 256px;
  fill: currentColor;
  margin: auto;
  animation: fade-in 1s ease-in-out;
}
#scroll_arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  position: absolute;
  bottom: 8px;
  width: 48px;
  height: 23px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  color: var(--modpack-color-text);
  cursor: pointer;
  animation: bounce 0.5s cubic-bezier(.06,.74,.59,1) alternate infinite;
}
#scroll_arrow:hover {
  animation-play-state: paused;
}
#scroll_arrow>svg {
  width: 100%;
  fill: currentColor;
  animation: fade-in 1s ease-in-out;
}
.page {
  min-height: 100vh;
}
.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
}
h2 {
  font-family: Minecrafter;
  font-size: 36pt;
  margin: 32px 0;
  font-weight: normal;
  text-transform: uppercase;
}
#modlist {
  display: flex;
  flex-wrap: wrap;
}
.mod-entry {
  background: rgb(var(--modpack-color));
  color: var(--modpack-color-text);
  width: 260px;
  margin: 8px;
  height: 100px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mod-entry:hover,
.mod-entry:focus-within {
  background: #000;
  box-shadow: 0 0 0 1px rgb(var(--modpack-color)) inset;
  color: rgb(var(--modpack-color));
}
.entry-name {
  flex-grow: 1;
  font-weight: bold;
}
.entry-links {
  display: flex;
  justify-content: flex-end;
}
.mod-link {
  color: inherit;
  font-weight: normal;
}
.mod-link-wiki {
  margin-left: 4px;
}
.link-disabled {
  opacity: 0.333;
}
.transition-block {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  animation: fade-in 1s ease-in-out;
}
#modpacks_pentagon {
  --size: 384px;
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: 32px auto 0;
  z-index: 0;
}
#pentagon {
  z-index: -2;
  position: absolute;
  width: 100%;
  fill: none;
  stroke: url('#pentagonGradient');
  stroke-width: 6px;
}
.mp_container {
  position: absolute;
  transform: translate(-50%, -50%);
}
#mp_name {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Minecrafter;
  font-size: 24px;
  transition: color 0.4s cubic-bezier(0,.34,.15,1);
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
}
.bump#mp_name {
  animation: bump 0.25s cubic-bezier(.2,.47,.2,1);
}
.unavailable#mp_name::after {
  content: "Coming soon";
  font-size: 0.75em;
  opacity: 0.5;
  display: block;
  text-align: center;
}
mark {
  background-color: rgb(var(--modpack-color));
  color: var(--modpack-color-text);
  font-weight: bold;
  font-family: monospace;
  padding: 4px;
}
.url {
  display: block;
  background-color: rgb(var(--modpack-color));
  color: var(--modpack-color-text);
  font-weight: bold;
  font-family: monospace;
  padding: 4px;
  user-select: all;
  cursor: pointer;
  width: 100%;
  max-width: 800px;
  overflow-x: scroll;
  margin: 4px auto 0;
  text-align: center;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.url::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes bump {
  0%, 80% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.125);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-32px);
  }
}

@media (max-width: 600px) {
  #modpacks_pentagon {
    --size: 256px;
  }
  .modpack {
    --size: 64px;
  }
  #mp_name {
    font-size: 16px;
  }
  .unavailable#mp_name::after {
    font-size: 10px;
  }
  #hero {
    margin: 24px 0 64px;
  }
  #hero>svg {
    height: 64px;
  }
}

@media (max-width: 647px) {
  .mod-entry {
    width: calc(50% - 16px);
  }
}

@media (max-width: 530px) {
  .mod-entry {
    width: 100%;
  }
}
